/**
 * Base Style
 */

@import "sanitize/sanitize";
@import "susy/sass/susy";

body {
  opacity: 0;
  font-family: $sans;

  background: darken(white, 5%);
}

img {
  max-width: 100%;
}

.container {
  @include container;
  @include show-grid;
}

.section {
  margin-bottom: 1.875em;

  &.space60 {
    margin-bottom: 3.75em;
  }
}

/* IE8 Warning */
.browserupgrade {
  position: fixed;
  top: 0;

  width: 100%;

  padding: 2em 1em;

  color: white;
  background: darken(red, 25%);

  text-align: center;

   strong {
     text-transform: uppercase;
     text-decoration: underline;
   }
}

/* JustFont Settings */

.jf-loading body {
  opacity: 0;
  visibility: hidden;
}

.jf-active, .jf-inactive {
  body {
    opacity: 1;
    visibility: visible;
  }
  * {
    transition: opacity 1s ease-out;
    transition-delay: 0.1s;
  }
}
