/**
 * Base Style
 */

@import "sanitize/sanitize";
@import "susy/sass/susy";
@import "animate/animate";

body {
  opacity: 0;
  font-family: $sans;

  background: darken(white, 5%);
}

img {
  max-width: 100%;
}

.container {
  @include container;
  @include show-grid;
}

.section {
  margin-bottom: 1.875em;

  &.space60 {
    margin-bottom: 3.75em;
  }
}

/* IE8 Warning */
.browserupgrade {
  position: fixed;
  top: 0;

  width: 100%;

  padding: 2em 1em;

  color: white;
  background: darken(red, 25%);

  text-align: center;

   strong {
     text-transform: uppercase;
     text-decoration: underline;
   }
}

/* JustFont Settings */

.jf-loading body {
  opacity: 0;
  visibility: hidden;

  &:after {
    content: "";
    width: 256px;
    height: 256px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -128px;
    margin-top: -128px;

    background: image-url('logo-black-min.png') no-repeat center;

    @include flash($duration: 5s, $count: infinite);

  }
}

.jf-active, .jf-inactive {
  body {
    opacity: 1;
    visibility: visible;
  }
  * {
    transition: opacity 1s ease-out;
    transition-delay: 0.1s;
  }
}
