/**
 * Settings
 */

// Color Settings
$white: white;
$black: black;

$primaryColor: #c45f86;

// Font Settings
$serif: 'Merriweather', 'hanami', serif;
$sans: 'Open Sans', 'Source Han Sans TW', sans-serif;

// Grid Settings
$susy: (
  columns: 12,
  column-width: 80px,
  debug: (
    image: hide
  )
);
