/**
 * Header
 */

#header {
  padding-top: 1em;
}

#landing-hero {
  margin-top: 2em;

  .landing-hero {
    &-image {
      position: relative;

      @include span(10);
    }

    &-entry {
      position: absolute;
      left: 60%;
      right: -20%;
      bottom: 10%;
      padding: 2em;
      z-index: 999;

      font-family: $serif;
      letter-spacing: 0.05em;
      line-height: 1.25em;
      background: $white;
    }


  }

  p {
    margin-bottom: 1em;
  }
}

#topbar {
  width: 48px;
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 9999;

  transform: translteY(-50%);

  text-align: right;

  font-size: 0;

  a {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}
