/**
 * Story
 */

#story {
  p {
    margin-bottom: 1em;
  }

  h2 {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid $black;
  }

  .main-story {
    @include span(10);
    @include push(1);

    padding: 1.875em;

    background: $white;
    font-family: $serif;

    .story-illust {
      position: relative;
      clear: both;

      padding-top: 2em;
      margin-bottom: 2em;

      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }

    .story-image {
      @include span(9 of 12 omega);
      @include post(-1.5 of 12);

      margin-bottom: 1em;

      &-description {
        position: absolute;
        bottom: 0;

        @include span(4.5 of 12);
      }
    }

    .story-narrow {
      @include span(9 of 10);
      @include push(0.5 of 10);
      @include post(0.5 of 10);

      clear: both;
    }
  }
}
