[submodule "extra-sass/sanitize"]
	path = extra-sass/sanitize
	url = git@github.com:jonathantneal/sanitize.css.git
[submodule "extra-sass/susy"]
	path = extra-sass/susy
	url = git@github.com:ericam/susy.git
