[submodule "extra-sass/sanitize"]
	path = extra-sass/sanitize
	url = https://github.com/jonathantneal/sanitize.css.git
[submodule "extra-sass/susy"]
	path = extra-sass/susy
	url = https://github.com/ericam/susy.git
[submodule "extra-sass/animate"]
	path = extra-sass/animate
	url = https://github.com/geoffgraham/animate.scss.git
