/**
 * Character Story
 */

.character-story {
  position: relative;

  margin-top: 1.875em;
  margin-bottom: 1.875em;

  font-family: $serif;

  &.single {
    @include span(6);

    &:last-child {
      @include span(6 omega);
    }
  }

  .hero {
    margin-top: 1em;

    font-size: 1.5em;
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  &-model {
    @include span(7);

    .right & {
      @include span(7 omega)
    }

    .single & {
      @include span(12);
    }
  }

  &-label {
    position: absolute;
    top: 0;

    padding: 0.25em 0.5em;

    color: $white;
    background: $primaryColor;

    transform: translateY(-50%);
  }

  &-entry {
    width: span(5) + gutter();
    position: absolute;
    top: 50%;
    right: 0;
    padding: 1em;

    background: $white;

    transform: translateY(-50%);

    .right & {
      left: 0;
      right: auto;
    }

    .single & {
      position: relative;

      @include span(5 of 6);
      @include push(0.5 of 6);

      clear: both;

      transform: translate(0%);
    }
  }
}
