/**
 * Navigation
 */

.nav-bar {
}

.block-navbar {
  margin-top: 2em;

  .nav-item {
    @include gallery(2.4 of 12);

    padding-top: 0.5em;
    padding-bottom: 0.5em;

    font-family: $serif;
    font-size: 14px;
    text-align: center;
    line-height: 1.2em;

    border-right: 1px solid lighten($black, 80%);

    &:last-child { border: none; }

    .note {
      display: block;

      color: $black;
      font-size: 0.75em;
      text-transform: uppercase;
    }

    a {
      transition: transform 100ms ease-out;

      &:hover {
        display: block;
        transform: scale(1.1);
      }
    }
  }
}

.nav-item {

}
