/**
 * d
 * Section
 */

.section-title {
  position: relative;
  display: block;
  padding: 1em;

  font-size: 2em;
  font-family: $serif;

  text-align: center;

  &.small {
    font-size: 1.5em;
  }

  &:before, &:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 35%;

    border-bottom: 1px solid darken($white, 20%);

  }

  &:before {
      left: 5%;
  }

  &:after {
    right: 5%;
  }
}
